*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
 /*  display: none; */ /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-content: center;
  align-items: center
}
main{
    background-image: url(../img/cork.png) ;
    min-height: 100vh;
    

}
header{
    background-image: url('../img/wall.png');
    font-size: 20px;
    text-align: center;
    padding: 0.5rem;
    font-family: 'Edu Tas Beginner', sans-serif;
}
.row{
    display: flex;
    justify-content: center;
}
.card{
    
    background-color: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 1rem;
    position: relative;
    width: calc(100% - 2rem);
    cursor: pointer;
    pointer-events: auto;
}
.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 100%;
}
.pin{
    height: 30px;
    top: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}
.card-title{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.card-date{
    font-size: 16px;
    color: gray;
    font-weight: 600;
    padding-top: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    padding:1rem 3rem;
    display: flex;
    justify-items: center;
    margin: auto;
}

@media (min-width: 576px) {/* add tablet breakpoint */
    header {
        font-size: 20px;
        padding: 0.5rem;
    }
    .card-date{
        font-size: small;
    }
    .card-title{
        font-size: small;

    }
    .card {
        width: calc(50% - 2rem); 
        margin: 0.5rem;   
        padding: 0.8rem;  
    }
}

@media (min-width:  992px) {/* add laptop breakpoint */
    .card{
        width: calc(33.33% - 2rem);    
    }
    .container{
        max-width: 1200px;
    }
    .card-date{
        font-size: medium;
    }
    .card-title{
        font-size: medium;
        
    }
    header{
        font-size: 40px;
        padding: 0.5rem;
    }
}

