*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-image: url(../img/cork.png) ;
    min-height: 100vh;

}
header{
    background-image: url('../img/wall.png');
    font-size: 40px;
    text-align: center;
    padding: 1rem;
    font-family: 'Edu Tas Beginner', sans-serif;
}
.row{
    display: flex;
    justify-content: center;
}
.card{
    
    background-color: white;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 1rem;
    position: relative;
    flex-grow: 1;
}

.card-img{
    background-color: rgb(68, 233, 68);

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-wrap: wrap;
    
}
.pin{
    height: 30px;
    top: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}
.card-title{
    font-size: 20px;
    padding-top: 1rem;
    font-family: 'Edu Tas Beginner', sans-serif;
}